{% load static %}

<div class="main-header">
    <a href="{% url 'home' %}">
        <img height="60px" src="{% static 'logo.svg' %}">
    </a>

    <h2>Health Management Case System</h2>
    {% if user.is_authenticated %}
        <div>
            <a class="btn btn-primary" href="{% url 'manage' %}">Manage</a>
            <a class="btn btn-primary" href="{% url 'logout' %}">Log Out</a>
        </div>
    {% else %}
        <div>
            <a class="btn btn-primary" href="{% url 'login' %}">Log In</a>
        </div>

{% endif %}



</div>