<!-- referral/templates/view_people.html -->
{% extends 'referral_container.html' %}
{% block view %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'view_people.css' %}">
<div>
<h3 style="text-align:center;">People</h3>

<table class="data-table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th style="width: 0;">
            <a href="{% url 'add_person' %}">
                <button type="button" class="btn btn-success add-item">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add person
                </button>
            </a>
        </th>
    </tr>
    {% for contact in list %}
        <tr>
            <td>{{contact.id}}</td>
            <td>{{contact.first_name }}</td>
            <td>{{contact.last_name}}</td>
            <td class="button-row">
                <a>
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-open"></span>
                    </button>
                </a>

                <a>
                    <button type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </a>

                <a href="{% url 'delete_person' contact.pk %}">
                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

</div>
{% endblock %}